export(classify_significance)
export(compute_gi_star)
export(join_hotspots_to_polygons)
importFrom(sf,st_as_sf)
importFrom(sf,st_coordinates)
importFrom(sf,st_is_longlat)
importFrom(sf,st_join)
importFrom(sf,st_read)
importFrom(sf,st_transform)
importFrom(sf,st_within)
importFrom(stats,pnorm)
